.description__paragraph {
  font-family: 'Formular';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.01em;
  font-feature-settings: 'ss01' on;
  color: #242424;
  text-indent: 80px;
  padding: 0 0 30px 0;
  margin: 0;
}

.description__paragraph:first-of-type {
  text-indent: 0;
}

.description__paragraph:last-of-type {
  padding-bottom: 0;
}