.intro__grid-column {
  display: flex;
  flex-direction: column;
}

.intro__grid-column:first-of-type {
  padding-left: 120px;
}

@media (max-width: 1200px) {
  .intro__grid-column:first-of-type {
    padding-left: 40px;
  }
}

@media (max-width: 980px) {
  .intro__grid-column:first-of-type {
    padding-left: 20px;
  }

  .intro__grid-column {
    padding: 0 20px;
    align-items: center;
  }
}
