@font-face {
  font-family: "Formular", Arial, Helvetica, sans-serif;
  src: url(./Formular-Light/formular-light.woff) format("woff"),
    url(./Formular-Light/formular-light.woff2) format("woff2");
}

@font-face {
  font-family: "Neue Machina", Arial, Helvetica, sans-serif;
  src: url(./Neue-Machina-Regular/PPNeueMachina-Regular.woff) format("woff"),
    url(./Neue-Machina-Regular/PPNeueMachina-Regular.woff2) format("woff2");
}